# 2_DataWrangling: Shipping Cost Predictor

In [131]:
# Import for data wrangling
import os
import boto3
import pandas as pd
from io import StringIO

In [132]:
# Load variables from .env file, ignoring lines without '='
def load_env_variables(env_file='../.env'):
    # Get the current working directory
    current_dir = os.getcwd()
    env_path = os.path.join(current_dir, '..', env_file)
    
    print(f"Looking for .env file at: {env_path}")  # Debugging output

    if not os.path.exists(env_path):
        print(f".env file does not exist at: {env_path}")
        return

    with open(env_path, 'r') as file:
        for line in file:
            # Skip lines without an equals sign or comments
            if '=' in line and not line.strip().startswith('#'):
                key, value = line.strip().split('=', 1)
                os.environ[key] = value
                print(f"Loaded {key}={value}")  # Debugging output

# Load environment variables
load_env_variables()

Looking for .env file at: c:\repos\ai-logistics\notebooks\ShipCostPredictor\..\../.env
Loaded BUCKET_NAME_INBOUND=logimo-inbound
Loaded BUCKET_NAME_ALIGNED=logimo-aligned
Loaded BUCKET_NAME_OUTBOUND=logimo-outbound
Loaded PREFIX_KEY=ship_cost_predictor

## Loading Data

1. Loading files
2. Concatenating into a single file
3. Basic data exploration

In [133]:
# Create an S3 client
s3 = boto3.client('s3')

# Specify the bucket name and prefix (folder path)
bucket_name = os.getenv('BUCKET_NAME_INBOUND')
prefix = os.getenv('PREFIX_KEY')

# List objects in the specified S3 folder
response = s3.list_objects_v2(Bucket=bucket_name, Prefix=prefix)

# Initialize a list to store CSV file keys
csv_files = []

# Iterate over the objects and collect keys of CSV files
for obj in response.get('Contents', []):
    object_key = obj['Key']
    if object_key.endswith('.csv'):
        csv_files.append(object_key)

In [134]:
# Initialize a list to store DataFrames
dataframes = []

# Read each CSV file and store in a DataFrame
for csv_file in csv_files:
    # Get the object from S3
    csv_obj = s3.get_object(Bucket=bucket_name, Key=csv_file)

    # Get the body of the object (the file content)
    body = csv_obj['Body']

    # Read the body into a string
    csv_string = body.read().decode('utf-8')

    # Use pandas to read the CSV string into a DataFrame
    df = pd.read_csv(StringIO(csv_string))

    # Append the DataFrame to the list
    dataframes.append(df)

In [135]:
# Concatenate all the DataFrames
supply_ch_df_raw = pd.concat(dataframes, ignore_index=True)

# Save the concatenated DataFrame to S3
output_bucket_name = 'logimo-aligned'
output_prefix = f'{prefix}/Sample_Data_Product_Concatenated.csv'
csv_buffer = StringIO()
supply_ch_df_raw.to_csv(csv_buffer, index=False)

# Upload the CSV to S3
s3.put_object(Bucket=output_bucket_name, Key=output_prefix, Body=csv_buffer.getvalue())

print(f"Concatenated file saved to s3://{output_bucket_name}/{output_prefix}")

Concatenated file saved to s3://logimo-aligned/ship_cost_predictor/Sample_Data_Product_Concatenated.csv

---

#### Dataset initial inspection

In [136]:
# Data glance
supply_ch_df_raw.head()

,Product type,SKU,Estimated price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs,Demurrage
0,cosmetics,062000005,4350.0,98.0,216.0,$5513.64,NaN,28.0,5.0,16.0,...,28.0,406.0,9.0,$98.49,Fail,3.27,Rail,A route,329.95,0.0
1,cosmetics,062000004,31840.0,11.0,407.0,$1638.02,Unknown,41.0,7.0,59.0,...,6.0,599.0,15.0,$67.15,Fail,0.52,Rail,c,NaN,1365082.0
2,haircare,062000002,78270.0,10.0,399.0,NaN,Male,66.0,26.0,81.0,...,12.0,721.0,28.0,$49.86,NaN,1.27,Road,a,996.28,0.0
3,haircare,062000003,NaN,15.0,923.0,$9417.67,Non-binary,25.0,26.0,NaN,...,11.0,NaN,12.0,$54.2,Fail,NaN,Sea,C route,817.38,0.0
4,cosmetics,062000007,22790.0,17.0,715.0,$8656.12,Non-binary,58.0,24.0,79.0,...,16.0,168.0,21.0,$71.42,Pending,3.35,Rail,b,407.65,0.0

In [137]:
# Data info
supply_ch_df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product type             9170 non-null   object
 1   SKU                      10000 non-null  object
 2   Estimated price          9470 non-null   float64
 3   Availability             9230 non-null   float64
 4   Number of products sold  9150 non-null   float64
 5   Revenue generated        9250 non-null   object
 6   Customer demographics    9330 non-null   object
 7   Stock levels             9450 non-null   float64
 8   Lead times               9310 non-null   float64
 9   Order quantities         9430 non-null   float64
 10  Shipping times           9110 non-null   float64
 11  Shipping carriers        9260 non-null   object
 12  Shipping costs           9160 non-null   object
 13  Supplier name            9080 non-null   object
 14  Location                 9280 non-null   object
 15  Lead time                9050 non-null   float64
 16  Production volumes       9300 non-null   float64
 17  Manufacturing lead time  9430 non-null   float64
 18  Manufacturing costs      9320 non-null   object
 19  Inspection results       9370 non-null   object
 20  Defect rates             9410 non-null   float64
 21  Transportation modes     9080 non-null   object
 22  Routes                   9160 non-null   object
 23  Costs                    9410 non-null   float64
 24  Demurrage                9200 non-null   float64
dtypes: float64(13), object(12)
memory usage: 1.9+ MB

---

#### Dataset unique values

In [138]:
# Number of unique values per column
supply_ch_df_raw.nunique()

Product type                   3
SKU                        10000
Estimated price             6106
Availability                  99
Number of products sold      999
Revenue generated           9205
Customer demographics          4
Stock levels                  99
Lead times                    29
Order quantities              99
Shipping times                 9
Shipping carriers              3
Shipping costs               901
Supplier name                  5
Location                       5
Lead time                     29
Production volumes           900
Manufacturing lead time       29
Manufacturing costs         5798
Inspection results             3
Defect rates                 501
Transportation modes           4
Routes                        15
Costs                       8920
Demurrage                   3666
dtype: int64

In [139]:
# List of columns to get unique values for
columns_to_check = [
    'Product type', 'Availability', 'Customer demographics', 'Stock levels', 'Lead times', 
    'Order quantities', 'Shipping times', 'Shipping carriers', 'Supplier name', 'Location', 
    'Lead time', 'Manufacturing lead time', 'Inspection results', 'Transportation modes', 'Routes'
]

# Iterate over the columns and print unique values
for column in columns_to_check:
    unique_values = supply_ch_df_raw[column].unique()
    print(f"Unique values in '{column}':\n {unique_values}\n")

Unique values in 'Product type':
 ['cosmetics' 'haircare' 'skincare' nan]

Unique values in 'Availability':
 [98. 11. 10. 15. 17. 40. 18. 55. nan 25. 78. 89. 22. 30. 84. 85. 44. 32.
 51. 46. 21. 99. 94. 39. 12. 47. 13.  8.  7. 23. 96. 75. 86. 92. 29.  2.
 79. 52. 27. 50. 95. 88. 77. 43. 37. 61. 97. 56.  3. 63. 19. 58. 16. 72.
  1.  5. 65.  4. 64. 91. 41.  9. 36. 90. 54. 81. 14. 34. 53. 20. 70. 83.
 24. 74. 38. 57. 45. 71. 93. 82. 31. 60. 49. 76. 48. 33. 69. 26. 35. 80.
 73. 68. 42. 87. 28. 66. 59.  6. 62. 67.]

Unique values in 'Customer demographics':
 [nan 'Unknown' 'Male' 'Non-binary' 'Female']

Unique values in 'Stock levels':
 [28. 41. 66. 25. 58.  6. 75. 38. 45. 14. 40.  3. 99. 97. nan 19. 18. 64.
 88. 35. 62.  1. 49. 98. 89. 16. 93. 23. 83. 54. 73. 42. 34. 80. 55. 21.
 70. 96. 48. 39. 31. 10. 30. 60. 15.  4. 63.  9. 26. 81. 52. 69.  5. 20.
 79.  2. 13. 74. 61. 95.  8. 67. 94. 11. 36. 12. 37. 71. 56. 85. 29. 78.
 90. 92. 82. 84. 86. 59. 68.  7. 51. 72. 17. 77. 27. 24. 87. 46. 91. 44.
 33. 50. 47. 32. 22. 43. 65. 76. 57. 53.]

Unique values in 'Lead times':
 [ 5.  7. 26. 24. 12. 16. 23.  8. 28.  9. 15. 13. 11. 10. 20. 21. 14. 18.
 nan  3.  4.  6.  1. 29. 17. 27. 25. 22.  2. 19.]

Unique values in 'Order quantities':
 [16. 59. 81. nan 79. 15. 98. 11. 65. 90. 68. 43. 69. 99. 13. 10. 75. 82.
 41. 50. 87. 71. 39.  3. 76.  7. 49. 26. 48.  2. 32.  4. 20. 28. 77.  1.
 60. 56. 35. 30. 54. 36. 89. 80. 58. 83. 51. 22. 88. 53. 52. 18. 66. 21.
 47. 29. 85. 17. 31. 73. 95. 78. 14. 97. 84. 12.  5. 74. 45.  9. 33. 62.
 57. 25.  6. 42. 93. 44. 64. 92. 37.  8. 67. 46. 55. 61. 96. 34. 70. 24.
 94. 19. 72. 27. 40. 23. 38. 91. 63. 86.]

Unique values in 'Shipping times':
 [ 6.  7.  4.  8.  1.  9.  2. nan  5.  3.]

Unique values in 'Shipping carriers':
 ['Carrier C' 'Carrier B' 'Carrier A' nan]

Unique values in 'Supplier name':
 ['Supplier 1' 'Supplier 5' nan 'Supplier 3' 'Supplier 4' 'Supplier 2']

Unique values in 'Location':
 ['Kolkata' nan 'Bangalore' 'Chennai' 'Mumbai' 'Delhi']

Unique values in 'Lead time':
 [28.  6. 12. 11. 16. 20. 17.  9.  1. 26.  3. 21. 23. 22. 19. 13. 14. 27.
 nan  4.  2. 18.  8. 15. 24.  7.  5. 10. 25. 29.]

Unique values in 'Manufacturing lead time':
 [ 9. 15. 28. 12. 21. 27. 26. 14. nan  6. 19.  4. 17.  3. 29. 13.  1. 25.
 16. 18.  2. 22. 23.  8. 20.  7.  5. 24. 11. 10.]

Unique values in 'Inspection results':
 ['Fail' nan 'Pending' 'Pass']

Unique values in 'Transportation modes':
 ['Rail' 'Road' 'Sea' 'Air' nan]

Unique values in 'Routes':
 ['A route' 'c' 'a' 'C route' 'b' 'route_C' 'A' 'C' 'route_A' 'route_B' nan
 'routeB' 'routeC' 'B route' 'B' 'routeA']

This unique values validation gives us an idea that there may not be any repeated columns since the SKUs (shipments IDs) are unique in all records.

---

### Dataset missing missing values

In [140]:
# Checking missing value count in each column
print("\nMissing values in each column:")
missing_values = supply_ch_df_raw.isnull().sum()
display(missing_values)

Missing values in each column:

Product type               830
SKU                          0
Estimated price            530
Availability               770
Number of products sold    850
Revenue generated          750
Customer demographics      670
Stock levels               550
Lead times                 690
Order quantities           570
Shipping times             890
Shipping carriers          740
Shipping costs             840
Supplier name              920
Location                   720
Lead time                  950
Production volumes         700
Manufacturing lead time    570
Manufacturing costs        680
Inspection results         630
Defect rates               590
Transportation modes       920
Routes                     840
Costs                      590
Demurrage                  800
dtype: int64

In [141]:
# Calculate the percentage of null values for each column
null_percentage_per_column = supply_ch_df_raw.isnull().mean() * 100
print("Percentage of null values per column:\n", null_percentage_per_column)

# Calculate the overall percentage of null values in the entire dataset
total_null_values = supply_ch_df_raw.isnull().sum().sum()
total_values = supply_ch_df_raw.size
overall_null_percentage = (total_null_values / total_values) * 100
print(f'Overall percentage of null values: {overall_null_percentage}%')

# Check for empty rows
rows_with_null = sum(supply_ch_df_raw.isnull().all(axis=1))
print(f'Number of empty rows: {rows_with_null}')

Percentage of null values per column:
 Product type               8.3
SKU                        0.0
Estimated price            5.3
Availability               7.7
Number of products sold    8.5
Revenue generated          7.5
Customer demographics      6.7
Stock levels               5.5
Lead times                 6.9
Order quantities           5.7
Shipping times             8.9
Shipping carriers          7.4
Shipping costs             8.4
Supplier name              9.2
Location                   7.2
Lead time                  9.5
Production volumes         7.0
Manufacturing lead time    5.7
Manufacturing costs        6.8
Inspection results         6.3
Defect rates               5.9
Transportation modes       9.2
Routes                     8.4
Costs                      5.9
Demurrage                  8.0
dtype: float64
Overall percentage of null values: 7.0360000000000005%
Number of empty rows: 0

---

### Initial Handling of Missing Values

-- drop since it is repeated
Lead time

-- fill with 0
Demurrage

-- fill with ''
Product type

-- fill with $0
Revenue generated
Shipping costs
Manufacturing costs

-- fill with 'Unknown'
Customer demographics
Shipping carriers 
Supplier name 
Location
Inspection results
Transportation modes
Routes 


-- median impute
Availability
Number of products sold
Stock levels
Lead times
Order quantities
Shipping times 
Production volumes
Manufacturing lead time 
Estimated price
Manufacturing lead time
Manufacturing costs
Defect rates
Costs

In [142]:
supply_ch_df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product type             9170 non-null   object
 1   SKU                      10000 non-null  object
 2   Estimated price          9470 non-null   float64
 3   Availability             9230 non-null   float64
 4   Number of products sold  9150 non-null   float64
 5   Revenue generated        9250 non-null   object
 6   Customer demographics    9330 non-null   object
 7   Stock levels             9450 non-null   float64
 8   Lead times               9310 non-null   float64
 9   Order quantities         9430 non-null   float64
 10  Shipping times           9110 non-null   float64
 11  Shipping carriers        9260 non-null   object
 12  Shipping costs           9160 non-null   object
 13  Supplier name            9080 non-null   object
 14  Location                 9280 non-null   object
 15  Lead time                9050 non-null   float64
 16  Production volumes       9300 non-null   float64
 17  Manufacturing lead time  9430 non-null   float64
 18  Manufacturing costs      9320 non-null   object
 19  Inspection results       9370 non-null   object
 20  Defect rates             9410 non-null   float64
 21  Transportation modes     9080 non-null   object
 22  Routes                   9160 non-null   object
 23  Costs                    9410 non-null   float64
 24  Demurrage                9200 non-null   float64
dtypes: float64(13), object(12)
memory usage: 1.9+ MB

In [143]:
# Drop the 'Lead time' column since it is repeated
supply_ch_df_raw.drop(columns=['Lead time'], inplace=True)

# Fill with 0
supply_ch_df_raw['Demurrage'].fillna(0, inplace=True)

# Fill with '$0'
supply_ch_df_raw['Revenue generated'].fillna('$0', inplace=True)
supply_ch_df_raw['Shipping costs'].fillna('$0', inplace=True)
supply_ch_df_raw['Manufacturing costs'].fillna('$0', inplace=True)

# Fill with 'Unknown'
columns_to_fill_unknown = [
    'Customer demographics', 'Shipping carriers', 'Supplier name', 
    'Location', 'Inspection results', 'Transportation modes', 'Routes'
]
supply_ch_df_raw[columns_to_fill_unknown] = supply_ch_df_raw[columns_to_fill_unknown].fillna('Unknown')

# Median impute
columns_to_median_impute = [
    'Availability', 'Number of products sold', 'Stock levels', 'Lead times', 'Costs',
    'Order quantities', 'Shipping times', 'Production volumes', 'Defect rates',
    'Manufacturing lead time', 'Estimated price', 'Manufacturing lead time'
]
for column in columns_to_median_impute:
    median_value = supply_ch_df_raw[column].median()
    supply_ch_df_raw[column].fillna(median_value, inplace=True)

---

### Handling Remaining Missing values

**DW-1: Dropping null values**

Given that the percentage of null values in the dataset is less than 7% overall, we will drop those rows with null values for the data cleaning

In [144]:
df = supply_ch_df_raw.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product type             9170 non-null   object
 1   SKU                      10000 non-null  object
 2   Estimated price          10000 non-null  float64
 3   Availability             10000 non-null  float64
 4   Number of products sold  10000 non-null  float64
 5   Revenue generated        10000 non-null  object
 6   Customer demographics    10000 non-null  object
 7   Stock levels             10000 non-null  float64
 8   Lead times               10000 non-null  float64
 9   Order quantities         10000 non-null  float64
 10  Shipping times           10000 non-null  float64
 11  Shipping carriers        10000 non-null  object
 12  Shipping costs           10000 non-null  object
 13  Supplier name            10000 non-null  object
 14  Location                 10000 non-null  object
 15  Production volumes       10000 non-null  float64
 16  Manufacturing lead time  10000 non-null  float64
 17  Manufacturing costs      10000 non-null  object
 18  Inspection results       10000 non-null  object
 19  Defect rates             10000 non-null  float64
 20  Transportation modes     10000 non-null  object
 21  Routes                   10000 non-null  object
 22  Costs                    10000 non-null  float64
 23  Demurrage                10000 non-null  float64
dtypes: float64(12), object(12)
memory usage: 1.8+ MB

In [145]:
# Dropping rows with null values
supply_ch_df_cleaned = supply_ch_df_raw.dropna(axis=0)

In [146]:
supply_ch_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9170 entries, 0 to 9999
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product type             9170 non-null   object
 1   SKU                      9170 non-null   object
 2   Estimated price          9170 non-null   float64
 3   Availability             9170 non-null   float64
 4   Number of products sold  9170 non-null   float64
 5   Revenue generated        9170 non-null   object
 6   Customer demographics    9170 non-null   object
 7   Stock levels             9170 non-null   float64
 8   Lead times               9170 non-null   float64
 9   Order quantities         9170 non-null   float64
 10  Shipping times           9170 non-null   float64
 11  Shipping carriers        9170 non-null   object
 12  Shipping costs           9170 non-null   object
 13  Supplier name            9170 non-null   object
 14  Location                 9170 non-null   object
 15  Production volumes       9170 non-null   float64
 16  Manufacturing lead time  9170 non-null   float64
 17  Manufacturing costs      9170 non-null   object
 18  Inspection results       9170 non-null   object
 19  Defect rates             9170 non-null   float64
 20  Transportation modes     9170 non-null   object
 21  Routes                   9170 non-null   object
 22  Costs                    9170 non-null   float64
 23  Demurrage                9170 non-null   float64
dtypes: float64(12), object(12)
memory usage: 1.7+ MB

---

### Handling Data Types

Given the information obtain from the initial basic inspection in the dataset, almost all columns seem to be ad-hoc with their data types. However, there are a couple of columns that need further adjstments.

**DW-2: Special characters in currency columns**

Columns like `Revenue generated`, `Shipping costs` and `Manufacturing costs` have dollar signs in their numerical values. Therefore, they need transformation for proper processing.

In [147]:
# Verify data
supply_ch_df_cleaned[['Revenue generated', 'Shipping costs', 'Manufacturing costs']].head()

  Revenue generated Shipping costs Manufacturing costs
0          $5513.64        $320.00              $98.49
1          $1638.02        $713.00              $67.15
2                $0        $209.00              $49.86
3          $9417.67        $202.00               $54.2
4          $8656.12        $470.00              $71.42

In [148]:
# Removing dollar sign and passing to numeric type
for column in supply_ch_df_cleaned[['Revenue generated', 'Shipping costs', 'Manufacturing costs']]:
    supply_ch_df_cleaned.loc[:, column] = supply_ch_df_cleaned.loc[:, column].str.replace('[$,]', '', regex=True).astype(float)

---

### Handling Consistency in Records

In [149]:
# Displaying different representations of route instance
supply_ch_df_cleaned['Routes'].unique()

array(['A route', 'c', 'a', 'C route', 'b', 'route_C', 'A', 'C',
       'route_A', 'route_B', 'Unknown', 'routeB', 'routeC', 'B route',
       'B', 'routeA'], dtype=object)

**DW-3: Different representations of same instances**

If we have a closer look to the routes column, we can see that there are multiple representatios of the same route. Therefore, we need to make that homogeneous for the data processing.

In [150]:
# Mapping dictionary
route_mapping = {
    'a': 'Route_A', 'A': 'Route_A', 'A route': 'Route_A', 'routeA': 'Route_A', 'route_A': 'Route_A',
    'b': 'Route_B', 'B': 'Route_B', 'B route': 'Route_B', 'routeB': 'Route_B', 'route_B': 'Route_B',
    'c': 'Route_C', 'C': 'Route_C', 'C route': 'Route_C', 'routeC': 'Route_C', 'route_C': 'Route_C'
}

# Apply the mapping to the 'Routes' column
supply_ch_df_cleaned.loc[:, 'Routes'] = supply_ch_df_cleaned.loc[:, 'Routes'].replace(route_mapping)

---

### Adding a Classification Target to Dataset

**DW-4: Calssification Target**

In [151]:
supply_ch_df_cleaned.loc[:, 'Demurrage Bin'] = supply_ch_df_cleaned['Demurrage'] > 0

C:\Users\pablo\AppData\Local\Temp\ipykernel_18488\326519590.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  supply_ch_df_cleaned.loc[:, 'Demurrage Bin'] = supply_ch_df_cleaned['Demurrage'] > 0

In [152]:
supply_ch_df_cleaned['Demurrage Bin'].nunique()

2

### Handling Column Names

**DW-5: Renaming Columns**

Now that we have the final selected columns in out dataset, we will rename thos so we can avoid pecial characters (if any) and any spaces on them.

In [153]:
supply_ch_df_cleaned.columns

Index(['Product type', 'SKU', 'Estimated price', 'Availability',
       'Number of products sold', 'Revenue generated', 'Customer demographics',
       'Stock levels', 'Lead times', 'Order quantities', 'Shipping times',
       'Shipping carriers', 'Shipping costs', 'Supplier name', 'Location',
       'Production volumes', 'Manufacturing lead time', 'Manufacturing costs',
       'Inspection results', 'Defect rates', 'Transportation modes', 'Routes',
       'Costs', 'Demurrage', 'Demurrage Bin'],
      dtype='object')

In [154]:
# Renaming columns
supply_ch_df_cleaned.columns = supply_ch_df_cleaned.columns.str.replace(' ', '_').str.replace(r'\W', '', regex=True).str.lower()

---

In [155]:
supply_ch_df_cleaned.tail()

,product_type,sku,estimated_price,availability,number_of_products_sold,revenue_generated,customer_demographics,stock_levels,lead_times,order_quantities,...,production_volumes,manufacturing_lead_time,manufacturing_costs,inspection_results,defect_rates,transportation_modes,routes,costs,demurrage,demurrage_bin
9994,haircare,INDI040,77880.0,63.0,290.0,1311.02,Male,99.0,26.0,7.0,...,981.0,8.0,20.92,Pass,3.70,Sea,Route_A,913.81,0.0,False
9995,cosmetics,INDI042,87360.0,41.0,719.0,4094.14,Unknown,98.0,2.0,26.0,...,299.0,1.0,53.52,Pending,0.74,Air,Route_B,681.55,2094811.0,True
9997,haircare,INDI046,89580.0,5.0,413.0,1828.6,Unknown,99.0,21.0,67.0,...,667.0,3.0,53.77,Fail,4.81,Sea,Route_B,752.71,0.0,False
9998,haircare,USLA1001,27120.0,18.0,987.0,3173.07,Male,30.0,24.0,33.0,...,524.0,24.0,13.19,Fail,2.97,Sea,Route_A,956.01,741579.0,True
9999,skincare,CHNI013,64560.0,31.0,845.0,3575.42,Female,4.0,21.0,69.0,...,493.0,17.0,66.45,Pass,1.30,Air,Route_C,520.45,960097.0,True

---

### DW - Data Cleaning Validations

In [156]:
supply_ch_df_cleaned.head()

,product_type,sku,estimated_price,availability,number_of_products_sold,revenue_generated,customer_demographics,stock_levels,lead_times,order_quantities,...,production_volumes,manufacturing_lead_time,manufacturing_costs,inspection_results,defect_rates,transportation_modes,routes,costs,demurrage,demurrage_bin
0,cosmetics,062000005,4350.0,98.0,216.0,5513.64,Unknown,28.0,5.0,16.0,...,406.0,9.0,98.49,Fail,3.27,Rail,Route_A,329.950,0.0,False
1,cosmetics,062000004,31840.0,11.0,407.0,1638.02,Unknown,41.0,7.0,59.0,...,599.0,15.0,67.15,Fail,0.52,Rail,Route_C,555.645,1365082.0,True
2,haircare,062000002,78270.0,10.0,399.0,0.0,Male,66.0,26.0,81.0,...,721.0,28.0,49.86,Unknown,1.27,Road,Route_A,996.280,0.0,False
3,haircare,062000003,51045.0,15.0,923.0,9417.67,Non-binary,25.0,26.0,50.5,...,547.0,12.0,54.2,Fail,2.50,Sea,Route_C,817.380,0.0,False
4,cosmetics,062000007,22790.0,17.0,715.0,8656.12,Non-binary,58.0,24.0,79.0,...,168.0,21.0,71.42,Pending,3.35,Rail,Route_B,407.650,0.0,False

**DW-1**

In [157]:
# Calculate the percentage of null values for each column
null_percentage_per_column = supply_ch_df_cleaned.isnull().mean() * 100
print("Percentage of null values per column:\n", null_percentage_per_column)

# Calculate the overall percentage of null values in the entire dataset
total_null_values = supply_ch_df_cleaned.isnull().sum().sum()
total_values = supply_ch_df_cleaned.size
overall_null_percentage = (total_null_values / total_values) * 100
print(f'Overall percentage of null values: {overall_null_percentage}%')

# Check for empty rows
rows_with_null = sum(supply_ch_df_cleaned.isnull().all(axis=1))
print(f'Number of empty rows: {rows_with_null}')

Percentage of null values per column:
 product_type               0.0
sku                        0.0
estimated_price            0.0
availability               0.0
number_of_products_sold    0.0
revenue_generated          0.0
customer_demographics      0.0
stock_levels               0.0
lead_times                 0.0
order_quantities           0.0
shipping_times             0.0
shipping_carriers          0.0
shipping_costs             0.0
supplier_name              0.0
location                   0.0
production_volumes         0.0
manufacturing_lead_time    0.0
manufacturing_costs        0.0
inspection_results         0.0
defect_rates               0.0
transportation_modes       0.0
routes                     0.0
costs                      0.0
demurrage                  0.0
demurrage_bin              0.0
dtype: float64
Overall percentage of null values: 0.0%
Number of empty rows: 0

**DW-2**

In [158]:
supply_ch_df_cleaned[['revenue_generated', 'shipping_costs', 'manufacturing_costs']].head()

  revenue_generated shipping_costs manufacturing_costs
0           5513.64          320.0               98.49
1           1638.02          713.0               67.15
2               0.0          209.0               49.86
3           9417.67          202.0                54.2
4           8656.12          470.0               71.42

**DW-3**

In [159]:
# Displaying different representations of route instance
supply_ch_df_cleaned['routes'].unique()

array(['Route_A', 'Route_C', 'Route_B', 'Unknown'], dtype=object)

---

### Saving cleaned dataset for EDA ingestion

In [160]:
# Save the concatenated DataFrame to S3
output_bucket_name = 'logimo-aligned'
output_prefix = f'{prefix}/Sample_Data_Product_Cleaned.csv'
csv_buffer = StringIO()
supply_ch_df_cleaned.to_csv(csv_buffer, index=False)

# Upload the CSV to S3
s3.put_object(Bucket=output_bucket_name, Key=output_prefix, Body=csv_buffer.getvalue())

print(f"Concatenated file saved to s3://{output_bucket_name}/{output_prefix}")

Concatenated file saved to s3://logimo-aligned/ship_cost_predictor/Sample_Data_Product_Cleaned.csv

In [161]:
supply_ch_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9170 entries, 0 to 9999
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   product_type             9170 non-null   object
 1   sku                      9170 non-null   object
 2   estimated_price          9170 non-null   float64
 3   availability             9170 non-null   float64
 4   number_of_products_sold  9170 non-null   float64
 5   revenue_generated        9170 non-null   object
 6   customer_demographics    9170 non-null   object
 7   stock_levels             9170 non-null   float64
 8   lead_times               9170 non-null   float64
 9   order_quantities         9170 non-null   float64
 10  shipping_times           9170 non-null   float64
 11  shipping_carriers        9170 non-null   object
 12  shipping_costs           9170 non-null   object
 13  supplier_name            9170 non-null   object
 14  location                 9170 non-null   object
 15  production_volumes       9170 non-null   float64
 16  manufacturing_lead_time  9170 non-null   float64
 17  manufacturing_costs      9170 non-null   object
 18  inspection_results       9170 non-null   object
 19  defect_rates             9170 non-null   float64
 20  transportation_modes     9170 non-null   object
 21  routes                   9170 non-null   object
 22  costs                    9170 non-null   float64
 23  demurrage                9170 non-null   float64
 24  demurrage_bin            9170 non-null   bool
dtypes: bool(1), float64(12), object(12)
memory usage: 1.8+ MB

In [170]:
supply_ch_df_cleaned[['sku', 'lead_times', 'routes', 'location', 'demurrage', 'demurrage_bin']]

            sku  lead_times   routes   location  demurrage  demurrage_bin
0     062000005         5.0  Route_A    Kolkata        0.0          False
1     062000004         7.0  Route_C    Unknown  1365082.0           True
2     062000002        26.0  Route_A  Bangalore        0.0          False
3     062000003        26.0  Route_C  Bangalore        0.0          False
4     062000007        24.0  Route_B    Kolkata        0.0          False
...         ...         ...      ...        ...        ...            ...
9994    INDI040        26.0  Route_A     Mumbai        0.0          False
9995    INDI042         2.0  Route_B      Delhi  2094811.0           True
9997    INDI046        21.0  Route_B     Mumbai        0.0          False
9998   USLA1001        24.0  Route_A  Bangalore   741579.0           True
9999    CHNI013        21.0  Route_C  Bangalore   960097.0           True

[9170 rows x 6 columns]