# 2_DataWrangling: Price Predictor

In [143]:
# Import for data wrangling
import pandas as pd

## Loading Data

1. Loading files
2. Concatenating into a single file
3. Basic data exploration

In [144]:
# Read each file separately
df1 = pd.read_csv('../../data/price_predictor/raw/Sample_Product_Data_Batch_1.csv')
df2 = pd.read_csv('../../data/price_predictor/raw/Sample_Product_Data_Batch_2.csv')
df3 = pd.read_csv('../../data/price_predictor/raw/Sample_Product_Data_Batch_3.csv')
df4 = pd.read_csv('../../data/price_predictor/raw/Sample_Product_Data_Batch_4.csv')

# Concatenate dataframes
supply_ch_df = pd.concat([df1, df2, df3, df4], ignore_index=True)

# Save the concatenated dataframe
supply_ch_df.to_csv('C:/repos/ai-logistics/data/price_predictor/raw/Sample_Product_Data_Concat.csv', index=False)

In [157]:
# Data glance
supply_ch_df.head()

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,cosmetics,062000005,4.35,98.0,216.0,$5513.64,NaN,28.0,5.0,16.0,...,Kolkata,28.0,406.0,9.0,$98.49,Fail,3.27,Rail,A route,329.95
1,cosmetics,062000004,31.84,11.0,407.0,$1638.02,Unknown,41.0,7.0,59.0,...,NaN,6.0,599.0,15.0,$67.15,Fail,0.52,Rail,c,NaN
2,haircare,062000002,78.27,10.0,399.0,NaN,Male,66.0,26.0,81.0,...,Bangalore,12.0,721.0,28.0,$49.86,NaN,1.27,Road,a,996.28
3,haircare,062000003,NaN,15.0,923.0,$9417.67,Non-binary,25.0,26.0,NaN,...,Bangalore,11.0,NaN,12.0,$54.2,Fail,NaN,Sea,C route,817.38
4,cosmetics,062000007,22.79,17.0,715.0,$8656.12,Non-binary,58.0,24.0,79.0,...,Kolkata,16.0,168.0,21.0,$71.42,Pending,3.35,Rail,b,407.65

In [146]:
# Data info
supply_ch_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product type             9170 non-null   object
 1   SKU                      10000 non-null  object
 2   Price                    9470 non-null   float64
 3   Availability             9230 non-null   float64
 4   Number of products sold  9150 non-null   float64
 5   Revenue generated        9250 non-null   object
 6   Customer demographics    9330 non-null   object
 7   Stock levels             9450 non-null   float64
 8   Lead times               9310 non-null   float64
 9   Order quantities         9430 non-null   float64
 10  Shipping times           9110 non-null   float64
 11  Shipping carriers        9260 non-null   object
 12  Shipping costs           9160 non-null   object
 13  Supplier name            9080 non-null   object
 14  Location                 9280 non-null   object
 15  Lead time                9050 non-null   float64
 16  Production volumes       9300 non-null   float64
 17  Manufacturing lead time  9430 non-null   float64
 18  Manufacturing costs      9320 non-null   object
 19  Inspection results       9370 non-null   object
 20  Defect rates             9410 non-null   float64
 21  Transportation modes     9080 non-null   object
 22  Routes                   9160 non-null   object
 23  Costs                    9410 non-null   float64
dtypes: float64(12), object(12)
memory usage: 1.8+ MB

In [147]:
# Data stats on numerical columns
supply_ch_df.describe()

,Price,Availability,Number of products sold,Stock levels,Lead times,Order quantities,Shipping times,Lead time,Production volumes,Manufacturing lead time,Defect rates,Costs
count,9470.000000,9230.000000,9150.000000,9450.000000,9310.000000,9430.000000,9110.000000,9050.000000,9300.000000,9430.000000,9410.000000,9410.000000
mean,50.767157,49.869772,501.937158,50.128466,14.722342,50.234146,4.992206,14.988398,548.500215,14.921527,2.501937,550.808386
std,28.312864,28.561570,287.539220,28.703970,8.343491,28.650247,2.593058,8.418965,261.894295,8.295706,1.440040,258.611533
min,1.010000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,100.000000,1.000000,0.000000,100.160000
25%,26.582500,25.000000,252.250000,25.000000,7.000000,25.000000,3.000000,8.000000,324.000000,8.000000,1.250000,326.392500
50%,51.045000,49.000000,505.000000,50.000000,15.000000,50.500000,5.000000,15.000000,547.000000,15.000000,2.500000,555.645000
75%,75.227500,75.000000,748.000000,75.000000,22.000000,76.000000,7.000000,22.000000,777.000000,22.000000,3.760000,772.720000
max,99.990000,99.000000,999.000000,99.000000,29.000000,99.000000,9.000000,29.000000,999.000000,29.000000,5.000000,999.950000

---

## Handling missing values

In [153]:
# Checking missing value count in each column
print("\nMissing values in each column:")
missing_values = supply_ch_df.isnull().sum()
display(missing_values)

Missing values in each column:

Product type               830
SKU                          0
Price                      530
Availability               770
Number of products sold    850
Revenue generated          750
Customer demographics      670
Stock levels               550
Lead times                 690
Order quantities           570
Shipping times             890
Shipping carriers          740
Shipping costs             840
Supplier name              920
Location                   720
Lead time                  950
Production volumes         700
Manufacturing lead time    570
Manufacturing costs        680
Inspection results         630
Defect rates               590
Transportation modes       920
Routes                     840
Costs                      590
dtype: int64

In [152]:
# Check for an empty rows
rows_with_null = sum(supply_ch_df.isnull().all(axis=1))
print("Empty rows: ", rows_with_null)

Empty rows:  0